/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   STYLING COMVERSE WEBSITE - JAWAD's CUSTOM STYLE
   ========================================================================== */

.body-guide {
    background-color: #c9c9c9;
  width: 960px;
  border: 1px solid #FFF;
  padding: 8px;
}

.comverse-header {
    width: 100%;
    height: 75px;
    position: fixed; /* Let header be fixed */
    top: 0;
    left: 0;
    z-index: 1000; /* Make header above all website content */
    background: #FFFFFF;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5)
}

.search_field {
    display: inline-block;
    float:right;
    padding-top:15px;
    position:relative;
}

.search_field input {
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    height:20px;
    outline: none;
    padding-left: 5px;
    display: inline-block;
    width: 140px;
}

.search_field button {
    border: none;
    background: none;
    cursor: pointer;
    display:inline-block;
    position:relative;
    right:33px;
    top:-1px;
}

.search_field button img {
width:20px;
height:20px;
}

.nav-container {
    background-color: #fff;
    padding: 0;
    height: 75px;
    max-width: 960px;
    margin: 0 auto;
}

.comverse-logo {
    padding: 5px 5px;
    display: inline-block;
    float:left
}

.navbar {
    font-size: 13px;
    padding-top: 45px;
    float: left;
    position: relative;
}

.nav {
    list-style: none;
    margin: 0;
}

.nav > li {
    display: block;
    float:left;
    position:relative
}


.nav > li > a {
    text-decoration: none;
    color: #a0a0a0;
    display:block;
    outline:0;
    padding: 0 11px 10px 11px;
    text-transform: uppercase;
    font-weight: 200;
}


.nav > li:hover > a {
    background: #FCFCFC;
    border-top: 1px solid #D5D5D5;
    border-left: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
    border-bottom: none;
    color: #3399cc;
    /*padding-bottom: 12px;*/
}

/*
.nav > li:hover .subnav{
    left:0;
    top:auto;
    margin:0;
}
*/
.nav > li:hover .subnav {
    max-height:1000px;
    -webkit-transform:perspective(400) rotate3d(0,0,0,0);
}

.subnav {
    background: #FCFCFC;
    position:absolute;
    left:0;
    top:29px;
    z-index:1;
    max-height:0;
    overflow:hidden;
    text-align:left;
    padding:10px 5px 10px 5px;
    box-shadow: 7px 6px 9px -6px grey;
    border-bottom: 1px solid #D5D5D5;
    border-left: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
    border-top: 1px solid #FCFCFC;
    display:inline;
    width:700px;
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
    -webkit-transition:350ms;
    -moz-transition:350ms;
    -o-transition:350ms;
    transition:350ms;
}
/*
.subnav {
    background: #FCFCFC;
    margin:4px auto;
    position:absolute;
    left:-999em; 
    text-align:left;
    padding:10px 5px 10px 5px;
    border-bottom: 1px solid #D5D5D5;
    border-left: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
    border-top: 1px solid #FCFCFC;
    display:inline;
    width:500px;
}
*/

.subnav a {
    text-decoration: none;
    color: #a0a0a0;
    display:block;
    outline:0;
    font-weight:200;
}

.subnav a:hover {
   color: #3399cc; 
}

.subnav-left {
    list-style: none;
    margin: 0;
    float:left;
    padding-left: 11px;
}

.subnav-left > li , .subnav-right > li {
    border-bottom: 1px solid #CAC8C8;
    padding:4px;
    margin:0px;
}

.nav-side-links {
    float:right;
    display:inline-block;
    padding-top:10px;
    color:#a0a0a0;
}

.nav-side-links a {
    text-decoration: none;
    outline:0;
    font-weight:200;
    color:#a0a0a0;
}

.nav-side-links a:hover {
    color: #3399cc; 
}


.subnav-right {
    list-style: none;
    margin: 0;
    float:left;
}


body {
    margin: 0 auto;
    color: #222;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

a {
    text-decoration: none;
}

hr {
    background-color:white;
}

h1{
    color:#FFF;
    font-weight:100;
    font-size:38px;
    line-height: 1.1em;
    margin-bottom:0.2em;
}

h2{
    font-size:24px;
    color:#FFF;
    font-weight:100;
}

h3{
    color:#FFF;
    font-weight:100;
    font-size:20px;
    line-height: 1.4em;
    margin-bottom:0.53em;
}

h1, h2, h3, h4, h4, h5, h6 {
    color:#FFF;
}


strong, b {
  font-weight: 400;
}

.rounded-cube > section > a {
    color:#FFF;
    font-weight: 600;
    font-size:14px;
}

.section-container {
    padding: 0;
    max-width: 960px;
    margin: 0 auto;
}


.section-banner {
    padding-top:75px;
    background: url(../img/banner-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index:200;
}

.cubes-list{
    padding: 0;
    list-style: none;
    margin-top: 100px;
    padding-bottom: 20px;
    margin-bottom: -2.23em;
}

.rounded-cube {
    border-radius: 8px;
    display: inline-block;
    margin-right: 20px;
    opacity: 0.85;
    padding: 10px 14px;
    width: 269px;
    cursor: pointer;
}

.rounded-cube:hover {
    opacity: 1;    
}

.cube-title{
    padding: 0;
    margin-top: 0px;
    height: 130px;
}

.cube-green { background:#5eb433; }
.cube-purple { background:#fb429c; }
.cube-orange { background:#ff7519; }

.more-btn {
  font-family: arial;
  color: #FFFFFF !important;
  font-size: 14px;
  padding: 8px 22px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #63B8EE;
  background: linear-gradient(top,  #3196C9,  #1A8CC6);
  background: -ms-linear-gradient(top,  #3196C9,  #1A8CC6);
  background: -webkit-gradient(linear, left top, left bottom, from(#3196C9), to(#1A8CC6));
  background: -moz-linear-gradient(top,  #3196C9,  #1A8CC6);
}
.more-btn:hover {
  color: #FFFFFF !important;
  background: #468CCF;
  background: linear-gradient(top,  #36A8E1,  #1898D7);
  background: -ms-linear-gradient(top,  #36A8E1,  #1898D7);
  background: -webkit-gradient(linear, left top, left bottom, from(#36A8E1), to(#1898D7));
  background: -moz-linear-gradient(top,  #36A8E1,  #1898D7);
}

ol.carousel-nav {
    padding: 0;
    margin-top: 20px;
    list-style: none;
    bottom: 250px;
    left: 0;
    font-size: 0rem;
    text-align: center;
}

ol.carousel-slides {
    list-style: none;
    padding-left: 0;
    margin:0;
}

.carousel-slides ul {
    list-style-position: inside;
    padding-left: 0;
}

.carousel-slides ul li {
    margin-bottom: 4px;
}

.carousel-nav li {
    width: 12px;
    height: 12px;
    background-color: #E5E5E5;
    color: #e5e5e5;
    float: left;
    margin-left: 5px;
    padding: 0;
    border-radius: 3px;
    display: inline-block;
}

.carousel-nav li:hover {
    background-color: #3399CC;
    color: #3399CC;
}

li.selected {
    background-color: #3399CC;
    color: #3399CC;
}

.section-solutions{
    box-shadow: inset 0px 4px 10px -3px hsla(0, 0%, 26%, 0.5);
    background:#46a2c7;
    display:block;
    height:360px;
}

.solutions-list {
    padding: 20px 0 20px 0;
}

.solutions-list > li {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.solutions-list > li > a > figure {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.solutions-list > li > a > figure > span {
    height:40px;
}

.solutions-list > li > a > figure > figcaption {
    padding-top:10px;
}

.solutions-list > li a {
    color:#FFF;
    text-decoration: none;
    outline:0;
}

.section-solutions .section-container > h1 {
    padding: 20px 0;
    text-align: center;
}

.more-solutions-wrapper {
    text-align:center;
}

div.icon-1 {
    height:63px;
    background: url(../img/solution_icon_biz-analitics.png) no-repeat center center;
}
div.icon-1:hover {
    height:63px;
    background: url(../img/solution_icon_biz-analitics_hover.png) no-repeat center center;
}

div.icon-2 {
    height:63px;
    background: url(../img/solution_icon_diti-cx.png) no-repeat center center;
}
div.icon-2:hover {
    height:63px;
    background: url(../img/solution_icon_diti-cx_hover.png) no-repeat center center;
}

div.icon-3 {
    height:63px;
    background: url(../img/solution_icon_smart-money.png) no-repeat center center;
}
div.icon-3:hover {
    height:63px;
    background: url(../img/solution_icon_smart-money_hover.png) no-repeat center center;
}

div.icon-4 {
    height:63px;
    background: url(../img/solution_icon_optimize-efficnt.png) no-repeat center center;
}
div.icon-4:hover {
    height:63px;
    background: url(../img/solution_icon_optimize-efficnt_hover.png) no-repeat center center;
}

div.icon-5 {
    height:63px;
    background: url(../img/solution_icon_personal.png) no-repeat center center;
}
div.icon-5:hover {
    height:63px;
    background: url(../img/solution_icon_personal_hover.png) no-repeat center center;
}

div.icon-6 {
    height:63px;
    background: url(../img/solution_icon_biz-transform.png) no-repeat center center;
}
div.icon-6:hover {
    height:63px;
    background: url(../img/solution_icon_biz-transform_hover.png)  no-repeat center center;
}


.section-events{
    box-shadow: inset 0px 4px 10px -3px hsla(0, 0%, 26%, 0.5);
    background: url(../img/news-and-events-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:block;
    height:360px;
}

.section-events .section-container > h1 {
  padding: 20px 0;
  text-align: center;
  margin: 0 auto;
}

.events-list{
    padding: 0;
    margin: 0 auto;
}

.events-list > li {
    display: inline-block;
    width: 287px;
    padding: 15px;
}

.events-list > li > a > section > article {
    border-radius:3px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    height: 84px;
    margin-bottom: 10px;
}

.events-list > li > a > section > article:hover {
    background-color: rgba(255, 255, 255, 1);
}

span.day-container {
display:block;
background:#46a2c7;
border-bottom: 1px dashed #FFF;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
}
span.month-container {
display:block;
background:#46a2c7;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
font-size:26px;
}

h1.event-date {
    width:65px;
    margin:0 auto;
    padding:0;
    float: left;
    font-weight: 400;
    text-align: center;
}

.events-list > li > a > section > article > p {
    padding-left: 75px;
    margin-top: 0;
    color: black;
}

.event-header {
    text-transform: uppercase;
    margin-bottom: 3px;
}

.all-link {
    color: #FFF;
    outline: 0;
    text-decoration: none;
}

.all-link:hover {
    color: #000;
}

.all-news-link > span:before {
    content: "";
    display: block;
    background: url(../img/eventListIconNews.png) no-repeat 50% 50%;;
    width: 23px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

.all-news-link > span:hover:before {
    content: "";
    display: block;
    background: url(../img/eventListIconNews_hover.png) no-repeat 50% 50%;;
    width: 23px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

.all-events-link > span:before {
    content: "";
    display: block;
    background: url(../img/eventListIconEvents.png) no-repeat 50% 50%;;
    width: 23px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

.all-events-link > span:hover:before {
    content: "";
    display: block;
    background: url(../img/eventListIconEvents_hover.png) no-repeat 50% 50%;;
    width: 23px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

.all-press-link > span:before {
    content: "";
    display: block;
    background: url(../img/eventListIconPress.png) no-repeat 50% 50%;;
    width: 23px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

.all-press-link > span:hover:before {
    content: "";
    display: block;
    background: url(../img/eventListIconPress_hover.png) no-repeat 50% 50%;;
    width: 23px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

.section-clients {
    box-shadow: inset 0px 4px 10px -3px hsla(0, 0%, 26%, 0.5);
    background:#ececec;
    display:block;
    height:480px;
}

.section-clients .section-container > h1 {
  padding: 20px 0;
  text-align: center;
  margin: 0 auto;
  color: #6E6E6E;
  }

  .section-clients .section-container .more-stories {
  margin-top: 42px;
  display: inline-block;
  left: 40%;
  position: relative;
  }

.clients-list {
    padding: 0; 
}

.clients-list > li {
    display: inline-block;
    width: 32%;
    float: left;
    margin: 4px;
    padding: 2px;
}

.clients-list > li > blockquote {
    padding: 10px;
    margin: 0 auto;
    background: #FFF;
    border-radius: 3px;
}

.clients-list > li > blockquote > img {
    float: left;
    margin-left:2px;
}

.clients-list > li > blockquote > p {
    color: #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
    height: 110px;
    padding-left: 110px;
}

.person-details {
    display:inline-block;
}

.person-details > p {
    margin:0 auto;
    padding: 2px;
}

.person-details > p > a {
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    color: #3399cc;
}

.person-logo {
    float: right;
    max-width: 100px;
}

.logos-top {
    margin-bottom: 10px;
}

.logos-top > .company {
    display: inline-block;
    margin: 0 6px 0 0;
    background:#FFF;
    width:31%;
    border-radius: 3px;
    text-align: center;
    vertical-align: top;
}

.logos-top > .company:last-child {
    display: inline-block;
    margin: 0;
    background:#FFF;
    width:31%;
    border-radius: 3px;
    text-align: center;
    vertical-align: top;
}

.company {
    display: inline-block;
    margin: 10px 6px 0 0;
    background:#FFF;
    width:31%;
    border-radius: 3px;
    text-align: center;
}

.company:last-child {
    display: inline-block;
    margin: 10px 0 0 0;
    background:#FFF;
    width:31%;
    border-radius: 3px;
    text-align: center;
}

.company > img {
    width: 85%;
    height: 85%;
}


.mobile-navigation {
    display: none;
}





/* FOOTER */

/* Footer Links Panel */

footer {
    background-color: #2B2B2B;
    padding: 0;
    height: 350px;
    width: 100%;
    margin: 0;
}

.footer-links {
    height: auto;
    margin: 0;
}

.footer-block {
    max-width: 960px;
    min-width: 800px;
    width: 960px;
    margin: 0 auto;
}

.footer-links-column {
    float: left;
    margin-right: 32px;
    font-size: 1rem;
    line-height: 20px;
}

.footer-heading {
    font-size: 16px;
    text-transform: uppercase;
}

.key-solutions, .products-services, .company-links {
    list-style: none;
    padding-left: 0;
    font-weight: 100;
}

.footer-links-column a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer-links-column a:hover {
    text-decoration: underline;
}


/* Footer Side Box */
.footer-box {
    float: right;
    background-color: #3d3d3d;
    width: 240px;
    position: relative;
    padding: 0 12px;
    height: 350px;
}

.footer-box h4 {
    color: #3195c9;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
}

.footer-box-content {
    color: white;
    display: block;
    text-decoration: none;
}

.footer-box-content:hover {
    text-decoration: underline;
}

.press-release {
    border-bottom: 1px solid grey;
}

.press-release h4 {
    padding: 16px 0;
    margin: 0 6px;
    font-weight: 200;
    text-transform: uppercase;
}

.date-box-footer {
    width: 60px;
    height: 80px;
    padding: 2px;
    float: left;
    margin: 0 10px 0 5px;
}

.footer-date {
   font-size: 2.6rem;
    margin: 0;
    text-align: center;
    line-height: 2.2rem;
    font-weight: 400;
}

.footer-month {
    font-size: 1.4rem;
    margin: 0px;
    text-align: center;
}

.latest-blog-post-text {
    margin: 0 8px;
    padding: 1px 5px;
    font-size: 1rem;
    font-weight: 100;
}

.latest-blog-post-text p {
    margin: 0 0 18px 0;
}

/* Subscribtion */
.subscribe {
    position: relative;
}

#email {
    width: 200px;
    line-height: 2.5em;
    border-radius: 3px;
    border: none;
    margin: 0 5px;
    padding-left: 8px;
    color: grey;
    outline:none;
}

#subscribe-submit {
  background: #3aa6db;
  border-radius: 3px;
  border: none;
  color: white;
  line-height: 2.3em;
  margin-left: -45px;
  padding: 2px 10px;
  position: absolute;
  cursor: pointer;
}


/* Social Icons Panel */
.social-icons {
    padding: 10px;
    width: 230px;
    position: absolute;
    bottom:0;
}

.soc-icon:hover {
    -webkit-filter: brightness(0.45);
}

.ico-youtube:before {
    background: url(../img/socialMenuIcon-youtube.png) no-repeat;
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
}

.ico-twitter:before {
    background: url(../img/socialMenuIcon-twitter.png) no-repeat;
    content: "";
    display: inline-block;
    width: 30px;
    height: 22px;
}

.ico-linkedin:before {
    background: url(../img/socialMenuIcon-linkdin.png) no-repeat;
    content: "";
    display: inline-block;
    width: 28px;
    height: 22px;
}



/* Footer Navigation */

.footer-nav {
    margin-right: 0px;
    font-size: 14px;
    width: 676px;
    height: 20px;
    float: left;
    margin-top:58px;
    display: inline-block;
}

ul.footer-menu {
    margin: 0px;
    padding: 0px;
}

.footer-menu > li {
    list-style: none;
    margin: 0px;
    display: inline-block;
    color: grey;
}

.footer-menu > li > a {
    color: grey;
    text-decoration: none;
}

.subscribe-link > a {
    display: none;
    color: white;
    margin-left: 0px;
}

.footer-nav-mobile {
    display: none;
}

.mobile-navigation {
    display: none;
}

.main-nav-mobile ul {
    display: none;
}

input[type=checkbox] {
    display:none;
}


/*  ==========================================================================
    MEDIA QUERIES
    ==========================================================================*/

@media all and (max-width:1004px) {

.nav-container {
    background-color: #fff;
    padding: 0;
    height: 75px;
    max-width: 768px;
    margin: 0 auto;
}

.navbar {
    font-size:11px;
}

.comverse-logo {
  padding: 28px 5px;
}

.comverse-logo > img {
    width: 92px;
    height: 31px;
}

.section-container {
    padding: 0;
    max-width: 768px;
    margin: 0 auto;
}

.events-list > li {
    width:222px;
}

.rounded-cube {
  border-radius: 8px;
  display: inline-block;
  margin-right: 20px;
  opacity: 0.85;
  padding: 10px 14px;
  width: 205px;
  cursor: pointer;
}

.solutions-list > li {
    width: 120px;
}

.clients-list > li > blockquote > p {
    font-size:13px;
}

.person-details > p > a {
    font-size:11px;
}

.person-details > p {
    font-size:11px;
}

.person-logo {
    display: inline-block;
    max-width:80px;
}

.person-logo > img {
    width:88px;
}

.clients-list > li > blockquote {
    padding:8px;
}

.company {
    margin: 5px 7px 0 0;
    width: 30%;
}

.clients-list > li {
    width:31%;
    margin:3px;
}

.logos-top > .company {
    margin: 0 4px 0 0;
}

.footer-block {
    max-width:768px;
    min-width:768px;
}

.footer-box {
    display:none;
}

.footer-links-column {
    margin-right:74px;
}

}

@media all and (max-width:768px) {

    .search_field input {
        display: none;
    }

    .rounded-cube {
        display: block;
        border-radius: 0px;
        margin: 0;
        width:auto;
        opacity:1;
        margin-top: 10px;
    }

    .carousel-nav li {
        width: 30px;
        height: 30px;
        margin-left: 0;
        margin-right: 5px;
        padding: 0;
        border-radius: 3px;
        color: #565656;
    }

    ol.carousel-nav {
        font-size:1rem;
        padding: 5px;
    }

    .carousel-nav li:hover {
        background-color: #3399CC;
        color: #FFF;
    }

    h1 {
        padding: 5px;
    }

    h3{
        padding: 5px;
    }

    .nav-side-links {
        display: none;
    }

    .solutions-list > li {
        width:32%;
    }

    .section-solutions {
        height:540px;
    }

    .events-list > li {
        display:block;
        list-style-type: none;
        width:auto;
    }

    .events-list > li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .section-events {
        height: 700px;
    }

    .clients-list > li {
        width: 240px;
        float:none;
        margin-left:auto;
        margin-right:auto;
        display: block;
    }

    .clients-list li:nth-child(1) {
        display: none;
    }

    .section-clients {
        height: 700px;
    }

    .section-clients .section-container .more-stories {
        left:36%;
    }

        .footer-nav-mobile {
            display: block;
            background-color: #2C2C2C;
            margin-bottom: 16px;
            margin: 0;
            list-style: none;
            padding-left: 0;
            font-size: 1.2rem;
        }



    .footer-nav-mobile li {
        color:white;
        padding-left: 20px;
        border-bottom: 1px solid black;
        padding: 10px 0 10px 10px;
    }

    .footer-nav-mobile li:hover {
        background-color: #BCBCBC;
    }

    .footer-nav-mobile li > a {
        color: #FFF;
        text-decoration: none;
        outline: none;
    }

    .footer-links{
        display:none;
    }

    footer {
        height:auto;
    }

    .footer-nav {
        margin:0;
    }

    .navbar {
        display: none;
    }

    .comverse-logo {
        margin: 0 auto;
        float: none;
        display: block;
    }

    .comverse-logo > img {
          float: none;
        margin: 0 auto;
        display: inherit;
    }


    .mobile-navigation {
        display: block;
    }


    label {
        display: block;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        text-decoration: none;
        background: linear-gradient(to bottom, #f2f2f2 0%,#e5e5e5 100%);
    }

    label:hover {
        cursor: pointer;
    }

    label.mobile-nav {
        position: absolute;
        top: 20px;
        left: 10px;
        margin: 5px;
        padding:5px;
    }

    .icon-bar {
        display: block;
        background-color: #a0a0a0;
        width: 30px;
        height: 3px;
        margin: 3px auto;
    }

    .icon-bar:not(:first-child) {
        margin-top: 2px;
    }

    .main-nav-mobile {
        display: none;
        list-style: none;
        text-transform: uppercase;
        font: 1.2rem "Open Sans";
        position: absolute;
        left: 0;
        top:0;
        z-index: 1;
        width: 100%;
        padding: 0;

    }

    .main-nav-mobile ul {
        list-style: none;
        background: white;
        padding: 0;
    }

    .main-nav-mobile li {
        color: #333333;
    }

    .main-nav-mobile label {
        width: 100%;
        border-radius: 0;
        background : #FFF;
    }

    .main-nav-mobile li a,
    .main-nav-mobile label {
    background-color: white;
    margin: 0;
    padding: 0 20px;
    height: 2rem;
    text-transform: uppercase;
    display: block;
    text-align: left;
    width: 100%;
    color: #585951;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #fff;
    font: 14px Arial;
    text-decoration: none;
    line-height: 2.1rem;
    }

    input[type="checkbox"]:checked ~ ul {
        display: block;
        top:56px;
    }



    .search_field {
        display: none;
    }

    label.mobile-search {
        float: right;
        background: url("../img/searchBtnMobile.png") no-repeat 50% 50%, linear-gradient(to bottom, #f2f2f2 0%,#e5e5e5 100%);
        position: absolute;
        top: 10px;
        right: 10px;
    }

    input[type="checkbox"]:checked + div {
        display: block;
        top:50px;
        left:-272px;
        right:0;
        background-color: white;
        z-index: 2;
    }

    input [type="checkbox"]:checked + div > input {
        display: block;
    }

}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
