/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   STYLING COMVERSE WEBSITE - JAWAD's CUSTOM STYLE
   ========================================================================== */

.comverse-header {
    width: 100%;
    height: 75px;
    position: fixed; /* Let header be fixed */
    top: 0;
    left: 0;
    z-index: 1000; /* Make header above all website content */
    background: #FFFFFF;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5)
}

.nav-container {
    background-color: #fff;
    padding: 0;
    height: 75px;
    width: 960px;
    margin: 0 auto;
}

.comverse-logo {
    padding: 5px 5px;
    z-index: 9;
    display: inline-block;
    float:left
}

.navbar {
    font-size: 13px;
    padding-top: 45px;
    float: left;
    position: relative;
}

.nav {
    list-style: none;
    margin: 0;
}

.nav > li {
    display: block;
    float:left;
    position:relative
}


.nav > li > a {
    text-decoration: none;
    color: #a0a0a0;
    display:block;
    outline:0;
    padding: 0 11px 10px 11px;
    text-transform: uppercase;
    font-weight: 200;
}


.nav > li:hover > a {
    background: #FCFCFC;
    border-top: 1px solid #D5D5D5;
    border-left: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
    border-bottom: none;
    color: #3399cc;
    /*padding-bottom: 12px;*/
}

/*
.nav > li:hover .subnav{
    left:0;
    top:auto;
    margin:0;
}
*/
.nav > li:hover .subnav {
    max-height:1000px;
    -webkit-transform:perspective(400) rotate3d(0,0,0,0);
}

.subnav {
    background: #FCFCFC;
    position:absolute;
    left:0;
    top:29px;
    z-index:1;
    max-height:0;
    overflow:hidden;
    text-align:left;
    padding:10px 5px 10px 5px;
    box-shadow: 7px 6px 9px -6px grey;
    border-bottom: 1px solid #D5D5D5;
    border-left: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
    border-top: 1px solid #FCFCFC;
    display:inline;
    width:700px;
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
    -webkit-transition:350ms;
    -moz-transition:350ms;
    -o-transition:350ms;
    transition:350ms;
}
/*
.subnav {
    background: #FCFCFC;
    margin:4px auto;
    position:absolute;
    left:-999em; 
    text-align:left;
    padding:10px 5px 10px 5px;
    border-bottom: 1px solid #D5D5D5;
    border-left: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
    border-top: 1px solid #FCFCFC;
    display:inline;
    width:500px;
}
*/

.subnav a {
    text-decoration: none;
    color: #a0a0a0;
    display:block;
    outline:0;
    font-weight:200;
}

.subnav a:hover {
   color: #3399cc; 
}

.subnav-left {
    list-style: none;
    margin: 0;
    float:left;
    padding-left: 11px;
}

.subnav-left > li , .subnav-right > li {
    border-bottom: 1px solid #CAC8C8;
    padding:4px;
    margin:0px;
}




.subnav-right {
    list-style: none;
    margin: 0;
    float:left;
}

body {
    margin: 0 auto;
    color: #222;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

h1{
    color:#FFF;
    font-weight:100;
    font-size:38px;
    line-height: 1.1em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.2em;
}

h2{
    font-size:24px;
    color:#FFF;
    font-weight:100;
}

h3{
    color:#FFF;
    font-weight:100;
    font-size:20px;
    line-height: 1.4em;
    -webkit-margin-before: 0.53em;
    -webkit-margin-after: 0.53em;
}



strong, b {
  font-weight: 400;
}

.rounded-cube > section > a {
    color:#FFF;
    font-weight: 600;
    font-size:14px;
}

.section-container {
    padding: 0;
    width: 960px;
    margin: 0 auto;
}


.section-banner {
    padding-top:75px;
    background: url(images/banner-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index:200;
}

.cubes-list{
    padding: 0;
    list-style: none;
    margin-top: 100px;
    padding-bottom: 20px;
    margin-bottom: -2.2em;
}

.rounded-cube {
    border-radius: 8px;
    display: inline-block;
    margin-right: 20px;
    opacity: 0.85;
    padding: 10px 14px;
    width: 264px;
    cursor: pointer;
}

.rounded-cube:hover {
    opacity: 1;    
}

.cube-title{
    padding: 0;
    margin-top: 0px;
    height: 130px;
}

.cube-green { background:#5eb433; }
.cube-purple { background:#fb429c; }
.cube-orange { background:#ff7519; }

.more-btn {
  font-family: arial;
  color: #FFFFFF !important;
  font-size: 14px;
  padding: 8px 22px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #63B8EE;
  background: linear-gradient(top,  #3196C9,  #1A8CC6);
  background: -ms-linear-gradient(top,  #3196C9,  #1A8CC6);
  background: -webkit-gradient(linear, left top, left bottom, from(#3196C9), to(#1A8CC6));
  background: -moz-linear-gradient(top,  #3196C9,  #1A8CC6);
}
.more-btn:hover {
  color: #FFFFFF !important;
  background: #468CCF;
  background: linear-gradient(top,  #36A8E1,  #1898D7);
  background: -ms-linear-gradient(top,  #36A8E1,  #1898D7);
  background: -webkit-gradient(linear, left top, left bottom, from(#36A8E1), to(#1898D7));
  background: -moz-linear-gradient(top,  #36A8E1,  #1898D7);
}

.section-solutions{
    box-shadow: inset 0px 4px 10px -3px hsla(0, 0%, 26%, 0.5);
    background:#46a2c7;
    display:block;
    height:420px;
}

.solutions-list > li {
    display: inline-block;
}

.solutions-list > li > figure {
    margin: 0 auto;
    padding: 0;
}

.section-solutions .section-container > h1 {
    padding: 40px 0;
    text-align: center;
}


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
